<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
	default-autowire="byName">
	
	
	<bean id="bindingResultResponseConverter" class="com.github.springrest.base.api.BindingResultResponseConverter">
		<property name="messageSource" ref="messageSource" />
	</bean>
	
	
	<bean id="throwableResponseConverter" class="com.github.springrest.base.api.ThrowableResponseConverter">
	</bean>
	
	<bean id="ajaxHelper" class="com.github.springrest.util.AjaxHelper">
		<property name="bindingResultResponseConverter" ref="bindingResultResponseConverter" />
		<property name="throwableResponseConverter" ref="throwableResponseConverter" />
	</bean>
	
</beans>